data_full/
preprocessing/
scripts/checkpoints/
scripts/processed_features/
scripts/evaluation_results/
scripts/cache/
scripts/__pycache__/
checkpoints/
thuan_1/
thuan_1_wav/
voice_recordings/
wav_folder/
data_test/
scripts/training_runs
background_voice/
voice_recordings_resample